/! Required meta tags
meta charset="utf-8"
meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
meta content=("Titan Fireproofing, Fire-stopping, Specialty Coating, and Insulation") name="discrption"
meta content="Fireproofing, Fireproofing GTA, Fireproofing Toronto, Commercial Fireproofing, Industrial Fireproofing, School Fireproofing, Building Fireproofing, Speciality Coating, Speciality Coating Toronto, Speciality Coating GTA, Commercial Speciality Coating, Industrial Speciality Coating" name="keyword"
/! Title
title Titan Group
/! Font Google
link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet"
link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet"
link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"
link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"
link href="img/favicon.ico"
link href="img/favicon.ico"
/! custom styles (optional)
link href="css/plugins.css" rel="stylesheet"
link href="css/style.css" rel="stylesheet"

= csrf_meta_tags
/ = stylesheet_link_tag "application"
/ = javascript_include_tag "application"

/  With Webpacker
/ = javascript_pack_tag 'application'
/ = stylesheet_pack_tag 'application'
/ = stylesheet_link_tag 'application'
/ = javascript_pack_tag 'application'

