script src="js/jquery-3.1.1.min.js" 
script src="js/plugins.js" 
script src="js/dsn-grid.js" 
script src="js/https://maps.googleapis.com/maps/api/js?key=AIzaSyA49hGCmzG22gXOfg784H0w8DtKEsSvq7k" type="text/javascript" 
script src="js/custom.js" 
